html {
  scroll-behavior: smooth;
}

body {
   /* background-image: url("../image/background.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0d0335;
    /* background-image: linear-gradient(rgba(19, 12, 53), rgba(12, 27, 53), rgba(19, 12, 53)); */

    /* Font */
    font-family: Helvetica;
    color: whitesmoke;
}

img {
  image-rendering: pixelated;
}

h1 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* links */
a {
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color: gray;}
a:active { text-decoration: none; }


/* In development window */
.inDevelopment {
  color: black;
  padding: 6px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-name: flash;
}

@keyframes flash {
   0%, 50% {
      background-color: red;
  }
   51%, 100% {
      background-color: yellow;
   }
}


.pageContainer {
  padding-left: 3em;
  padding-right: 3em;
}

/* Navbar */
.navBar {
  height: 70px;
  justify-content: center;
  background: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navBarContainer {
  padding: 1em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 90%;
}
.navBarLeft {
  text-align: left;
  float: left;
  display: flex;
  align-items: center;
}
.navBarLeft a {
    display: none;
    padding: 8px;
}
.DownloadButton {
  display: none;
}

.navBarRight {
  text-align: right;
  float: right;
  display: flex;
  align-items: center;
}


/* Main Page */
.hero_container {
  height: 100vh;
  overflow: hidden;
  background-image: url("../image/ScrNew1.png");
  background-size: cover;
}
.title {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45%;
  left: 10%;
}

.title h1 {
  font-size: 2.5em;
}
.title p {
  font-size: 1em;
  padding-left: 30px;
}

/* About Page */
.aboutPage {
  display: flex;
  align-items: center;
  padding-top: 150px;
  margin-bottom: 100px;
}

/* News Page */
.newsPage {
  padding-top: 150px;
  margin-bottom: 100px;
}
.video-container {
  margin-top: 3em;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container-desktop {
  margin-top: 3em;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container-desktop {
  display: none;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container-desktop iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-mobile {
  width: 100%;
  height: 100%;
}

/* FAQs */
.faqsPage {
    padding-top: 150px;
    margin-bottom: 100px;
}

/* Footer */
footer {
  margin-top: 250px;
  text-align: center;
  padding-bottom: 50px;
}


/* Responsive CSS test */
.icon {
  display: none;
}
.icon2 {
  display: none;
}

@media only screen and (min-width: 650px) {
  .navBar {
    display: flex;
  }
  .hamburgerMenu {
    display: none;
  }
  .navBarContainer a {
    display: block;
  }
  .navBarContainer {
    justify-content:
    space-between;
    width: 1500px;
  }
  .pageContainer {
    margin-top: 0em;
    padding-left: 8%;
    padding-right: 8%;
  }
  .hero_container {
    background-image: url("../image/Scr3.png");
  }
  .inDevelopment {
    display: block;
  }
  .title {
    padding-top: 150px;
    left: 10%;
  }
  .title h1 {
    font-size: 4em;
  }
  .title p {
    font-size: 1.5em;
  }
  footer {
    margin-top: 350px;
  }
  .video-mobile {
    display: flex;
    justify-content: center;
  }
  .video-container {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .icon {
    display: block;
    height: 12em;
  }
  .icon2 {
    display: block;
    height: 6em;
  }
  .aboutPageText {
    margin-right: 15%;
    width: 60%;
  }
  .navBarContainer {
    width: 70%;
  }
  .pageContainer {
    padding-left: 18%;
    padding-right: 18%;
  }
  .aboutPage {
    padding-top: 200px;
    margin-bottom: 300px;
    margin-top: 100px;
  }
  .video {
    margin-left: 5em;
  }
  .title {
    left: 20%;
  }
}

@media only screen and (min-width: 1700px) {
  .newsPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    margin-bottom: 300px;
  }
  .newsText {
    margin-right: 10%;
  }
  .video-mobile {
    display: none;
  }
  .video-container-desktop {
    display: block;
    width: 120%;
    margin-top: 0px;
    padding-bottom: 30%;
  }
}
