.rightContainer {
  background-color: #f6f9fc;
  border: 2px solid lightgray;
  margin: 2.5em 0px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 55%;
  margin: 25px 0px;
  background-color: #DFE5EB;
}
.text {
  padding: 20px;
}
.pageContainer {
  height: 70vh;
}
.desktop {
  display: none;
}
/* ---------------------------------- */



/* ---For mobile responsive---------- */
@media only screen and (min-width: 700px) {
  .image img {
    width: 30%;
    margin: 25px 0px;
  }
  .main {
    width: 80%;
  }
}


@media only screen and (min-width: 1300px) {
  .section {
    display: flex;
    justify-content: space-between;
  }
  .rightContainer {
    width: 30%;
    margin-top: 0px;
  }
  .leftContainer {
    width: 70%;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
/* ---------------------------------- */
