body {
  font-family: Helvetica;
  background-color: #f6f9fc
}
p { margin: 5px 0px; }

h1, h2, h3, h4, h5, h6 { margin: 0; }
img {
  image-rendering: pixelated;
}
a {
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color: gray;}
a:active { text-decoration: none; }

li {
  list-style: none;
}
/* ---------------------------------- */



/* ---Navbar------------------------- */
.navBar {
  height: 70px;
  display: flex;
  justify-content: center;
  background: #130c35;
  width: 100%;
  z-index: 999;
}
.navBarContainer {
  padding: 1em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 90%;
}
.navBarLeft {
  text-align: left;
  float: left;
  display: flex;
  align-items: center;
}
.navBarLeft a {
    display: none;
    padding: 8px;
}
.DownloadButton {
  display: none;
}

.navBarRight {
  text-align: right;
  float: right;
  display: flex;
  align-items: center;
}
.menu-items {
    background-color: rgba(0, 0, 0, .7);
}

/* ---------------------------------- */



/* ---Main--------------------------- */
.pageContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.main {
  background-color: white;
  max-width: 1100px;
  width: 80%;
  padding: 10px 25px;
  border: 2px solid lightgray;
}
/* ---------------------------------- */


/* ---Footer------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
}
/* ---------------------------------- */



/* ---For mobile responsive---------- */
@media only screen and (min-width: 700px) {
  .navBar {
    display: flex;
  }
  .navBarContainer {
    justify-content: space-between;
    width: 1500px;
  }
  .hamburgerMenu {
    display: none;
  }
  .navBarContainer a {
    display: block;
  }
  .navBarContainer {
    justify-content:
    space-between;
    width: 1500px;
  }
}

@media only screen and (min-width: 1000px) {
  .main {
    width: 60%;
  }
  .navBarContainer {
    width: 70%;
  }
}
/* ---------------------------------- */
