html {
    background-color: rgb(25, 24, 41);
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
}

a { 
    color: whitesmoke; 
    text-decoration: underline;
}
a:hover { color: gray;}

.brake-line {
    height: 6px; 
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgb(166, 0, 255) 40%, rgba(9,9,121,1) 60%, rgba(2,0,36,1) 80%);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgb(166, 0, 255) 50%, rgba(9,9,121,1) 70%, rgba(2,0,36,1) 100%);*/
    /*background: linear-gradient(90deg, rgb(26, 45, 45) 0%, rgba(47,79,79,1) 40%, rgba(47,79,79,1) 70%, rgb(29, 49, 49) 100%);*/
    background-color:darkslategray;
    background-image: url(../images/brakeline-1.png);
    background-size: cover;
    background-position: center;
    
}


.brake-line-footer {
    height: 5px; 
    background: linear-gradient(90deg, rgba(20,201,155,255) 0%, rgba(24,50,111,255) 45%, rgba(24,50,111,255) 55%, rgba(175,40,25,255) 100%);
}


/* Main page --------------------------------------------------------- */
.hero {
    height: 100vh;
    background-image: url("../images/ScrNew1.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3.8rem;
    font-family: Mystery Quest;
    margin-bottom: 10px;
}

.hero p {
    font-size: 0.9rem;
}


/* Content --------------------------------------------------------- */
.content-block {
    padding: 90px 0px 150px 0px;
    display: grid;
    place-items: center center;
}

.content {
    margin: 0px 20px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Images --------------------------------------------------------- */
.image {
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
}

.image-1 {
    background-image: url("../images/ScrNew3.png");
}

.image-2 {
    background-image: url("../images/ScrNew3.png");
}

/* Faqs --------------------------------------------------------- */
.faqs li {
    border: 1px white solid; 
    padding: 6px;
}

.faqs a {
    color: whitesmoke; 
    text-decoration: none;
}

.uk-accordion-title::before {
    background-image: url(../images/plus.svg);
    background-size: 45%;
}

.uk-open > .uk-accordion-title::before {
    background-image: url("../images/minus.svg");
  }
/* Hover */
.uk-accordion-title:hover {
    color: rgb(173, 173, 173);
}


/* Footer --------------------------------------------------------- */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 75px !important;
}

footer a {
    text-decoration: none;
}

footer a:hover { 
    text-decoration: none;    
}

.github-pages-logo:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(20%);
}

.footer-container {
    width: 100%;
}