html {
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(245, 251, 255);
}

a:hover {
    background-color: rgb(203, 203, 203);
    text-decoration: none;
    color: rgb(82, 82, 82);
}

a {
    padding: 8px 70px 8px 10px;
    color: rgb(82, 82, 82);
}

li {
    list-style-type: none;
    margin: 40px 0px 10px 0px;
    padding: 0px;
}

ul > .url {
    margin: 4px;
}

.link-icon {
    display: inline;
    justify-content: center;
    align-items:center;
    margin-right: 4px;
    width: 1.8em;
    height: 1.8em;
}

img {
    image-rendering: pixelated;
}

body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    color: black;
}